<div class="main-container">
    <div class="content-container">
        <div class="table-container">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Activity Code</th>
                        <th>Activity Name</th>
                        <th>Type of Activity</th>
                        <th>Supporting Department</th>
                        <th>City</th>
                        <th>Deadline Month</th>
                    </tr>
                </thead>
                <tbody>
                    {% for activity in activities %}
                    <tr>
                        <td>{{ activity.name }}</td>
                        <td>{{ activity.activity }}</td>
                        <td>{{ activity.type_of_activity }}</td>
                        <td>{{ activity.assigned_to_which_department_for_support }}</td>
                        <td>{{ activity.city }}</td>
                        <td>{{ activity.activity_to_be_completed_in_which_month }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="sidebar">
            <div class="notification-container">
                <p>Notifications</p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Activity</th>
                            <th>Date of Completion</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for activity in notification_activities %}
                        <tr>
                            <td>{{ activity.activity }}</td>
                            <td>{{ activity.activity_completion_date }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
