/* current_month_detail.css */
@import url('https://fonts.googleapis.com/css2?family=Glacial+Indifference:wght@400;700&display=swap');

body {
    font-family: 'Glacial Indifference', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.current-month-details {
    padding: 20px;
    color: #333;
}

.current-month-details h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.data-analysis {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.box {
    width: 250px;
    height: 150px;
    background: linear-gradient(135deg, #f0f4f7, #d9e3ec);
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative; 
}

.box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.box h2 {
    font-size: 14px;
    margin: 0;
    padding-bottom: 10px;
    color: #333;
    border-bottom: 1px solid #ccc; /* Add bottom border */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.box h2:hover::after {
    content: attr(title);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-size: 12px;
    z-index: 1;
    display: block;
    opacity: 1;
}

.box .number {
    font-size: 25px;
    font-weight: bold;
    color: #000000;
}

.nav_box {
    background-color: #6AB187;
    border-radius: 25px;
    color: white;
    padding: 15px 20px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav_box p {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
}

.financial-details, .non-financial-details {
    background-color: #AC3E31;
    border-radius: 20px;
    color: white;
    padding: 15px 20px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.financial-details p, .non-financial-details p {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
}

/* Add some spacing between sections */
.section {
    margin-bottom: 40px;
}
