@import url('https://fonts.googleapis.com/css2?family=Glacial+Indifference:wght@400;700&display=swap');

body {
    font-family: 'Glacial Indifference', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.current-month-details {
    padding: 20px;
    color: #333;
}

.nav_box {
    background-color: #45474B;
    border-radius: 25px;
    color: white;
    padding: 15px 20px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav_box p {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
}

.financial-details, .non-financial-details {
    background-color: #379777;
    border-radius: 20px;
    color: white;
    padding: 15px 20px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.financial-details p, .non-financial-details p {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
}

.card {
    margin-bottom: 20px;
}

.card-header {
    background-color: #f0f4f7;
    border-bottom: 1px solid #ccc;
    font-size: 1rem;
    color: #333;
    font-weight: bold;
    padding: 10px 15px;
}

.card-body {
    padding: 20px;
    text-align: center;
}

.card-title {
    font-size: 1.25rem;
    color: #333;
    margin: 0;
}

.card-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
    margin-top: 10px;
}

